{% extends "base.html" %}
{% block content %}
  <div class="d-flex flex-wrap mb-4 align-items-center">
    <h2 class="">All the Posts by all the users</h2>
    <div class="ms-auto">
      {% for category in categories %}
        {% comment %} <a href="/category/{{category.name}}" class="badge rounded-pill bg-primary fs-6 text-decoration-none">{{ category.name }}</a> {% endcomment %}
        <a href="{% url 'display_category_posts' category.name %}" class="badge rounded-pill bg-primary fs-6 text-decoration-none">{{ category.name }}</a>
      {% endfor %}
    </div>
  </div>
  {% include "posts/view_list.html" with posts=posts form=forms.post_delete display_author=True %}
{% endblock content %}
