{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="p-3">
    {% for comment in comments %}
      <article class="media content-section d-block border mb-3">
        <div class="article-metadata">
          <img src="{% static post.author.image %}" alt="">
          <a class="mr-2" href="posts">{{ comment.author }}</a>
          <small class="text-muted">{{ comment.created_on | date:"F d, Y" }}</small>
        </div>
        <div class="media-body">
          <h2>{{ comment.content }}</h2>
          <a class="mr-2" href="{% url  comment.post.post_id %}">{{ comment.post.title }}</a>
        </div>
      </article>
    {% endfor %}
  </div>
{% endblock content %}
