{% extends "base.html" %}
{% block content %}
  <h2 class="">A User</h2>
  <div class="border p-2">
    <div>{{ user.id }}</div>
    <div>{{ user.username }}</div>
    <div>{{ user.email }}</div>
    <div>{{ user.first_name }}</div>
    <div>{{ user.last_name }}</div>
    <div>{{ user.date_joined }}</div>
    <div>{{ user.last_login }}</div>
    <div>{{ user.is_active }}</div>
    <div>{{ user.is_staff }}</div>
    <div>{{ user.is_superuser }}</div>
    <div>{{ user.groups }}</div>
    <div>{{ user.user_permissions }}</div>
    <div>{{ user.password }}</div>
  </div>
{% endblock content %}
