{% block content %}
  <article class="media content-section d-block mb-4 border">

    <div class="article-metadata p-2 border-bottom bg-secondary d-flex align-items-center gap-2">
      {% if display_author %}
        <a class="link-light" href="{% url 'display_user' post.author.id %}">{{ post.author }}</a> |
      {% endif %}
      <small class="fw-light">{{ post.created_on | date:"F d, Y" }}</small>

      {% if user.is_authenticated and user == post.author %}
        <span class="article-actions ms-auto d-flex gap-2">
          <a class="btn btn-primary" href="{% url 'edit_post' pk=post.post_id %}">Edit</a>

          {% comment %} <a class="btn btn-danger" href="/posts/{{ post.post_id }}/delete">Delete</a> {% endcomment %}
          <form method="POST" action="{% url 'delete_post' pk=post.post_id %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-danger" type="submit">Delete</button>
          </form>
        </span>
      {% endif %}
    </div>

    <div class="p-2">
      {% for category in post.categories.all %}
        <a class="badge rounded-pill bg-primary fs-6 text-decoration-none" href="{% url 'display_category_posts' category.name %}">{{ category.name }}</a>
      {% endfor %}
    </div>

    <div class="media-body p-2">
      <h2><a class="article-title" href="{% url 'display_post' post.post_id %}">{{ post.title }}</a></h2>
      <p class="article-content">{{ post.content }}</p>
    </div>

  </article>
{% endblock content %}
